/* variable declaration*/
:root {
    --fontColour: #ffffff;
    --headerFooter: #0f1030;
    --containerColour: #524e7d;
    --fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--fontColour);
    /*background: var(--containerColour)*/
}
/* Header Section*/
#logo {
    width: 35px;
    height: 35px;
}
header .container {
    width: 100%;
    background-color: var(--headerFooter);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
}

header a {
    text-decoration: none;
    margin-right: 100px;
    color: var(--fontColour);
    font-size: 14px;
    letter-spacing: 1px;
    font-family: var(--fontFamily);
    cursor: pointer;
}
/* Hover properties added to links in header  */

header a:hover {
    color: blue;
    text-decoration: underline;
}

/* End of Header section*/

/* Main Section*/
main {
    margin-top: 10px;
}
#intro-container {
    margin-top: 50px;
    width: 100%;
    background-color: var(--containerColour);
    display: flex;
}
#intro-container .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
/*Left part of intro container*/
#myimage {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 30px;
}
.left-section {
    width: 600px;
    align-items: center;
}
.left-section h1 {
    margin: 0;
    margin-top: 10px;
    font-size: 40px;
    letter-spacing: 1px;
}
.leftsection h2 {
    margin: 0;
    font-size: 30px;
    letter-spacing: 1px;
}
.left-section p {
    margin: 0;
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 30px;
}
/* form */
input[type="text"]:focus {
    background-color: lightblue;
    border: 3px solid blue;
}
input[type="email"]:focus {
    background-color: lightblue;
    border: 3px solid blue;
}
textarea:focus {
    background-color: lightblue;
    border: 3px solid blue;
}
.name,
.email,
.question,
.submit {
    margin-top: 10px;
}
#submit1:focus {
    background-color: blue;
    box-shadow: 10px auto gray;
}
/* End of form*/

/* End of left part*/

/*Right part of introduction*/

.logo-image {
    margin-top: 20px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.right-section {
    margin: 0;
    align-self: center;
}
.right-section h1,
h2 {
    margin: 0;
    margin-top: 50px;
    font-size: 30px;
    letter-spacing: 1px;
} /* End of introduction part*/

/*Image container which holds images for MYWorks*/

.container {
    display: flex;
    margin-top: 5px;
    background-color: var(--containerColour);
    /*justify-content: space-evenly;*/
    align-items: center;
}
#myworks {
    margin: 0 0px;

    color: black;
}

#work-container .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#image-class1,
#image-class2,
#image-class3,
#image-class4 {
    margin: 20px 20px;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    padding: 10px;
    box-shadow: 10px 10px 5px #aaaaaa;
}
/* hover properties added to images*/
#image-class1:hover {
    transform: rotate(8deg);
    cursor: pointer;
}
#image-class2:hover {
    transition: all 2s linear;
    transform: rotateY(360deg);
    cursor: pointer;
}
#image-class3:hover {
    transform: scale(1.5);
    cursor: pointer;
}
#image-class4:hover {
    transition: all 2s linear;
    transform: rotateY(180deg);
    cursor: pointer;
}

/* Main end*/

/*Footer*/
footer {
    margin-top: 3px;
    width: 100%;
    background-color: var(--headerFooter);
    padding: 10px auto;
    height: 50px;
}
footer {
    background-color: var(--headerFooter);
}
footer h3 {
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    font-family: var(--fontFamily);
}
footer span {
    font-style: italic;
    color: black;
}
/* media quaries added to make as responsive website*/

@media screen and (max-width: 992px) {
    .container .right-section {
        width: 40%;
        flex: 0 0 33%;
    }
    .container .left-section {
        width: 60%;
        flex: 0 0 33%;
    }

    #work-container .container {
        flex: 0 0 50%;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    #header {
        flex-direction: column;
    }
    .container {
        flex-direction: column;
        width: 40%;
    }
    #intro-container .container {
        margin-top: 50px;
    }
    #myimage {
        width: 50%;
    }

    .footer {
        width: 40%;
    }
}
.project {
    margin: 10px;
    /* display: flex; */
    border-right: 2px solid white;

    flex-direction: column;

    border-radius: 15px;

    padding: 10px;
}
.repo,
.web {
    color: #ffffff;
    justify-content: space-evenly;
    cursor: pointer;
    margin: 40px;
    text-decoration: none;
    color: var(--fontColour);
    font-size: 15px;
    letter-spacing: 1px;
    font-family: var(--fontFamily);
}
#myworks {
    padding: 5px;
    margin-left: 80px;
}
.repo:hover {
    color: #0f1030;
    text-decoration: underline;
}

.web:hover {
    color: #0f1030;
    text-decoration: underline;
}
p {
    color: var(--fontColour);
    font-size: 14px;
    letter-spacing: 1px;
    font-family: var(--fontFamily);
}

h3 {
    color: var(--fontColour);
    font-size: 25px;
    letter-spacing: 1px;
    font-family: var(--fontFamily);
}
